<h1>Dashboard Home</h1>
<p id="notice"><%= notice %></p>

<h1>Emails</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @threads.each do |thread| %>
      <tr>
        <td><%= thread.email.user.email %></td>
        <td><%= thread.email.subject %></td>
        <td><%= thread.email.body %></td>
        <td><%= link_to 'Show', message_thread_path(thread.message_thread_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @threads %>
<br>

<%= link_to 'New Email', new_email_path %>
