<!DOCTYPE html>
<html>
  <head>
    <title>Litify Messenger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex full-height-and-width" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Litify Messenger </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Email</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Chat</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <% if signed_in? %>
          Signed in as: <%= current_user.email %>
          <%= button_to 'Sign out', sign_out_path, method: :delete %>
        <% end %>
      </nav>

      <div class="container-fluid">

      <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>


      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  </body>
</html>
